---
# Checks: >
#   bugprone-*,
#   -bugprone-easily-swappable-parameters,
#   -bugprone-switch-missing-default-case,

#   readability-*,
#   -readability-identifier,
#   -readability-identifier-length,

#   modernize-*,

#   performance-*,

#   misc-*,

#   google-*,

#   cppcoreguidelines-*,
#   -cppcoreguidelines-avoid-const-or-ref-data-members,
#   -cppcoreguidelines-pro-type-vararg,

#   clang-analyzer-*

Checks: cppcoreguidelines-pro-bounds-pointer-arithmetic

SystemHeaders: false
HeaderFilterRegex: '^(src|inc)/.*'

WarningsAsErrors: ''
UseColor: true
---
