---
BasedOnStyle: Chromium

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBinaryOperations: OnePerLine
BreakConstructorInitializers: AfterColon
IndentWidth: 1
InsertNewlineAtEOF: true
PackConstructorInitializers: Never
TabWidth: 1
UseTab: ForIndentation

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<iostream>'
    Priority: 1
  - Regex: '^<(glaze|SDL3|mongoose).*>'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '"(imgui|libuiohook).*"'
    Priority: 4
  - Regex: '".*"'
    Priority: 5
---
