---
BasedOnStyle: Chromium

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakBinaryOperations: OnePerLine
BreakConstructorInitializers: AfterColon
IndentWidth: 1
InsertNewlineAtEOF: true
PackConstructorInitializers: Never
TabWidth: 1
UseTab: ForIndentation

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<iostream>'
    Priority: 1
  - Regex: '^<.*>'
    SortPriority: 2
  - Regex: '"(imgui|libuiohook).*"'
    SortPriority: 3
  - Regex: '".*"'
    SortPriority: 4
---
