---
# Checks: >
#   bugprone-*,
#   -bugprone-switch-missing-default-case,

#   readability-*,
#   -readability-identifier,

#   modernize-*,

#   performance-*,

#   misc-*,

#   google-*,

#   cppcoreguidelines-*,
#   -cppcoreguidelines-avoid-const-or-ref-data-members,
#   -cppcoreguidelines-pro-type-vararg,

#   clang-analyzer-*

Checks: modernize-return-braced-init-list

SystemHeaders: false
HeaderFilterRegex: '^(src|inc)/.*'

WarningsAsErrors: ''
UseColor: true
---
